/* *{
  border: 1px solid tomato;
} */

:root {
  --gamePink: #fdd6cf;
  --gameRed: #ec5629;
  --gameTeal: #166161;
  --gameYellow: #fdbb10;
  --gameBlue: #291f5d;
}

header{
  background-color: var(--gameTeal);
}

i{
  color: var(--gameRed);
  font-size: 1em;
}

p{
  font-family: 'Fredoka One', Arial, Helvetica, sans-serif;
  COLOR:var(--gameBlue);
  margin: 0!important;
}

main{
  background-color: var(--gameRed);
  display: flex;
  min-height: 85vh;
}

footer{
  background-color: var(--gameTeal);
  height: 50px;
}

h3{
  color: var(--gameRed);
  font-family: 'Fredoka One', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
  font-family: 'Fredoka One', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

span{
  font-family: 'Fredoka One', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: .25em;
  margin: .25em;
  color: var(--gameRed);
  align-self: center;}

.upgrade-card{
  background-color: var(--gameYellow);
  height: 80vh;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  inline-size: min-content;
}

.game-field{
  background-color: var(--gamePink);
  height: 80vh;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
}

.btn-red{
  background-color: var(--gameBlue);
  border-radius: 10px;
  padding: .5em;
  margin: 1em;
  color:white;
  border: none;
  font-family: 'Fredoka One', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

:hover.btn-red{
  background-color: var(--gameTeal);
  color:white;
}

.myra-img{
  max-height: 25vh;
  max-width: 25vh;
  cursor: pointer;
}

.alternate{
 border-top: .25rem solid var(--gamePink);
}